/* open-sans-regular */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('./fonts/open-sans/open-sans-regular.eot'); /* IE9 Compat Modes */
	src: url('./fonts/open-sans/open-sans-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('./fonts/open-sans/open-sans-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
		 url('./fonts/open-sans/open-sans-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
		 url('./fonts/open-sans/open-sans-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
		 url('./fonts/open-sans/open-sans-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
body {
	font-family: 'Open Sans';
	margin: 0;
}
.flex {
	display: flex;
}
.flex-wrap {
	display: flex;
	flex-wrap: wrap;
}
.space-between {
	justify-content: space-between;
}
.justify-center {
	justify-content: center;
}
.align-center {
	align-items: center;
}
.hidden {
    display: none;
}
p, h1, h2 {
	margin: 0;
}
h1 {
	font-size: 2rem;
}
.p-t-16 {
	padding-top: 16px;
}
.p-16 {
	padding: 16px;
}
.p-t-24 {
	padding-top: 24px;
}
.m-t-16 {
	margin-top: 16px;
}

.red {
	background-color: rgb(219, 144, 53);
}
.blue {
	background-color: rgb(93, 204, 241);
}
.green {
	background-color: rgb(107, 205, 107);
}