/* Homepage */
.fullpage {
	position: relative;
	z-index: 11;
}
header {
	text-align: center;
    background-image: linear-gradient(red, orange);
	color: white;
    padding: 32px 0;
    border-radius: 0 0 35px 35px;
}
.search {
	border: none;
    padding: 8px;
    border-radius: 12px;
	margin-top: 24px;
}
.card {
	overflow: hidden;
	width: 350px;
    background-color: red;
    height: 200px;
    border-radius: 12px;
    padding: 16px;
	color: white;
}
.all-pokemons {
	margin: 0 24px;
	gap: 16px;
}
.images {
	position: relative;
    width: 100%;
}
.image {
	width: 160px;
}
.background {
	position: absolute;
    bottom: -23px;
    right: -45px;
    opacity: 0.4;
    width: 200px;
}

/* Detailpage */
#detailpage {
	display: flex;
    justify-content: center;
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    width: 100%;
	margin: 16px 0;
}
#pokedex {
	border-radius: 12px;
	overflow: hidden;
	width: 500px;
}
/* #pokedex .images {
	margin-top: -65px;
} */
.container-white {
	background-color: white;
	border-radius: 12px;
	margin-top: -50px;
	width: 100%;
	box-shadow: 4px 5px 12px gray;
}
#info-table table {
	padding: 20px 16px 20px 38px;
}
#info-table table td + td {
	padding-left: 24px;
}
.character {
	color: grey;
}
.element {
	display: flex;
	color: white;
	gap: 4px;
}
.header {
	color: white;
}
.element-name {
	background-color: rgba(255, 255, 255, 0.5);
	padding: 4px 16px;
	border-radius: 24px;
}
.image {
	position: relative;
}
.background-img {
	position: absolute;
	top: 0;
	right: -40px;
	width: 200px;
	height: 200px;
	opacity: 0.3;
}
#pokemon-img {
	margin-left: auto;
	margin-right: 32px;
	position: relative;
	z-index: 1;
	max-height: 180px;
}
.info-names {
	padding-top: 32px;
    display: flex;
	box-shadow: 0px 0 6px #d2d2d2;
    padding-bottom: 8px;
}
.info {
	width: calc(100% / 4);
	text-align: center;
}
#moves {
    padding: 16px;
}
.progress {
	width: 120px;
    height: 10px;
    border-radius: 12px;
    margin-left: 16px;
    border: 1px solid red;
}
.progress-bar {
	width: 54%;
    height: 10px;
    background-color: red;
    border-radius: 12px;
}